<html>

<head>
  <script
    src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?lang=html&amp;skin=sons-of-obsidian"></script>
  <!-- skin default,desert,sunbrust,sons-of-obsidian,doxy-->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

  <script src="https://unpkg.com/vue"></script>

  <style>
    xmp.prettyprint {

      font-size: 12pt;
      font-family: "Consolas, 'Courier New', monospace";

    }
  </style>

</head>

<body>

  <!--|#########################DISPLAY############################################-->
  <?prettify linenums=1?>
  <xmp class="prettyprint">
      <div id='app'>
        <ul>
          <li v-for="character in characters">{{character}}</li>
        </ul>

        <ul>
          <li v-for="(character,index) in characters">
            {{index}}
            {{character}}
          </li>
        </ul>

        <div v-for="(ninja,index) in ninjas" :key="ninja.name">
          <h3>{{ninja.name}}-{{ninja.age}}</h3>
        </div>

        <template v-for="(ninja,index) in ninjas">
          <h3>{{index}}</h3>
          <h3>{{ninja.name}}</h3>
          <p>{{ninja.age}}</p>
        </template>

      </div>

      <script>
        const app = new Vue({
          el: '#app',
          data: {
            characters: ['diwas', 'yogesh', 'hari', 'ram'],
            ninjas: [
              { name: 'Ganesh', age: 25 },
              { name: 'Hamuman', age: 35 },
              { name: 'Buddha', age: 20 }
            ]
          }

        });
      </script>
  </xmp>
  <!--####################################################-->

  <xmp class="prettyprint">
    <div class="col-sm-5 col-md-6 blog_post" v-for="(item,index) in noticeData">
      <img :src="'/Areas/Admin/File/'+ item.attachment" height="150" width="150" class="img-responsive"
        alt="gallery 1" />
      <span class="blog_header">{{item.title}}</span>
    </div>

    new Vue({
    el: '#app',
    data: {
    noticeData: [],
    reportData:[]


    },
  </xmp>
  ============================================================================================
  <p><span style="color: #e03e2d;"><strong><span style="font-size: 18pt;">In v-for always use Key</span></strong></span>
  </p>
  <p><span style="font-size: 18pt; color: #000000;">In vue we have two states: <strong><span
          style="color: #e03e2d;">Application Stat</span></strong>e and <strong><span style="color: #e03e2d;">DOM
          State.</span></strong></span></p>
  <p><span style="font-size: 18pt; color: #000000;">Application States are those which are defined in the data property.
      Ex. List of Array in data.</span></p>
  <p><span style="font-size: 18pt; color: #000000;">Temporary DOM State: They are those which are added to data let's
      say from the input field dynamically. This does not directly add to the actual DOM but only remains temporary in
      memory.</span></p>
  <p><span style="font-size: 18pt; color: #000000;">Vue&rsquo;s documentation describes, &ldquo;<strong><span
          style="color: #2dc26b;">If the order of the data items has changed, instead of moving the DOM elements to
          match the order of the items, Vue will patch each element in-place and make sure it reflects what should be
          rendered at that particular index</span></strong>.&rdquo; Let&rsquo;s dig deeper.</span></p>
  <p><span style="font-size: 18pt; color: #000000;">Vue renders lists in such a way that whenever there are dynamic
      changes in the UI, for example, the order of the list changes, Vue will just update the data in the DOM of each
      element of that list. Instead of moving HTML chunks of each element of that list, Vue will just update the current
      application state into the DOM, by updating the DOM element&rsquo;s state.</span></p>
  <p><img src="https://deepsource.io/images/blog/key-attribute-vue-js/in-place-patch.png"
      alt="In place patch strategy" /></p>
  <p><span style="font-size: 18pt; color: #000000;">So, if order of element is changed, and if key is not given then Vue
      will try to add own key on each items in temporary dom, instead of moving HTML chunks. This sometimes may take
      time but if we use key like any unique field, or say simple a serial number ourself then vue should not have to
      think about it.And Hence may improve performance.</span></p>
  <hr>
  <h2>Using Name as unique field as Key in loop</h2>

  <xmp class="prettyprint">

    <div id="app">
      <ul>
        <li v-for="item in shoppingItems" v-bind:key="item.name">
          {{ item.name }} - {{ item.price }}
        </li>
      </ul>
    </div>

    <script>
      new Vue({
        el: "#app",
        data() {
          return {
            shoppingItems: [
              { name: 'apple', price: '7' },
              { name: 'orange', price: '12' }
            ]
          }
        }
      });
    </script>
  </xmp>
  <hr>
  <h2>Using Index as unique field in v-for Loop</h2>
  <xmp class="prettyprint">

    <div id="app">
      <ul>
        <li v-for="(item,index) in shoppingItems" v-bind:key="index">
          {{ item.name }} - {{ item.price }}
        </li>
      </ul>
    </div>

    <script>
      new Vue({
        el: "#app",
        data() {
          return {
            shoppingItems: [
              { name: 'apple', price: '7' },
              { name: 'orange', price: '12' }
            ]
          }
        }
      });
    </script>
  </xmp>
  <hr>
  Best URL : https://deepsource.io/blog/key-attribute-vue-js/ <br>
  https://www.digitalocean.com/community/tutorials/vuejs-iterating-v-for
</body>

</html>